{% extends 'login/semantic.html' %}
{% block body %}
    {% load crispy_forms_tags %}
        {% load staticfiles %}
    {{ form.media }}
        
<div class="ui black raised segment" style="border-radius: 5px; ">
        
        <div class="header">
            <a href="{% url 'view_question' quest.id %}" class="ui ribbon label" style="max-width: 20em;"><h2 style="max-width: 22em;">Q.  &emsp;{{ quest.question }} </h3><br>
        <center><p>{{ quest.details }}</p></center></h2></a>
        </div>
        <br>

        <form class="ui form" action="" method="POST" enctype='multipart/form-data'  style="color:black;">

            {% csrf_token %}
            {{ form|crispy }}
            <div class="actions">
            <button class="ui positive right labeled icon button" type="submit" name="submit">
              Answer
              <i class="checkmark icon"></i>
            </button>
            </div>
            <br><!-- CREATE A REGISTER PAGE LINK and LOGIN LINK -->
        </form>
       </div>

{% endblock %}




