{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block bass %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="ui disabled fluid large teal submit button primaryAction" type="submit" name="action" value="{% trans 'Set Password' %}">Set Password</button>/
    </form>
{% endblock %}
