{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block bass %}
    
<div class="ui centered header"><h1>{% trans "Password Reset" %}</h1></div>
<div class="ui divider"></div>
<div class="ui grid">
    <div class="five wide column"></div>
    <div class="six wide column">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
	</div>
</div>
{% endblock %}
