{% extends "account/base.html" %}
{%block bass%}
{% load i18n %}
{% block content %}
<div class="ui centered header"><h1>{% trans "Change Password" %}</h1></div>
<div class="ui divider"></div>
<div class="ui grid">
<div class="five wide column"></div>
<div class="six wide column">
    <form method="POST" action="{% url 'account_change_password' %}" class="ui large form password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="ui fluid large teal submit button">{% trans "Change Password" %}</button>
    </form>
</div>
</div>
{% endblock %}
{% endblock %}
