{% load post_tags %}
{% if size > 0 %}
	{% for ans in answers %}
		<div  class="answer-{{ ans.id }}">
			{% get_answer ans user %}
		</div>
	{% endfor %}
{% else %}

{% endif %}
<script type="text/javascript">
$('.answer').click(function(){
    var element = $(this);
      $.ajax({
               type: "POST",
               url: "{% url 'upvote_answer'%}",
               data: {'answer_id': $(this).attr('data'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      if(response.message == "Upvoted")
                      {
                      element.html("<div class='ui small blue button'><i class='chevron up icon'></i>unvote</div><div class='ui small basic blue left pointing label'>"+response.upvotes+"</div>");
                      //document.getElementById(element.attr('data')).style.color = 'red';
                        }
                        else
                        {
                            element.html("<div class='ui small basic grey button'><i class='chevron up icon'></i>vote</div><div class='ui small basic grey left pointing label'>"+response.upvotes+"</div>");
                            // document.getElementById(element.attr('data')).style.color = 'black';
                        }

                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          }); 
    })

$('.answer-delete').click(function(){
    var element = $(this);
    var id = $(this).attr('data');
    if(confirm("Are you sure you want to delete this Post?")){
      $.ajax({
               type: "POST",
               url: "{% url 'delete_answer'%}",
               data: {'answer_id': $(this).attr('data'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      if(response.message == "Deleted")
                      {
                      	$('.myanswer-'+id).slideToggle()
                        }
                        else if(resonse.message == 'Unauthenticated')
                        {
                            alert('You are not allowed to do this!!');
                        }
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          }); 
  	}
    })

    </script>