<a class="ui emoji label" id="add-emoji" style="background-color:white; border-color: rgba(34,36,38,.15); border-width: 1px; margin: 0px;"><h3>🙂</h3>
</a>
<div class="ui flowing popup top right transition hidden" id="style-1" style="height: 20em; width: 20em; overflow-y: auto;">
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😀</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😃</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😄</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😁</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😆</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😅</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😂</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤣</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">☺️</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😊</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😇</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🙂</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🙃</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😉</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😌</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😍</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😘</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😗</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😙</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😚</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😋</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😜</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😝</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😛</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤑</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤗</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤓</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😎</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤡</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤠</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😏</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😒</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😞</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😔</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😟</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😕</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🙁</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">☹️</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😣</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😖</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😫</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😩</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😤</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😠</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😡</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😶</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😐</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😑</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😯</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😦</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😧</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😮</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😲</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😵</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😳</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😱</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😨</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😰</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😢</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😥</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤤</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😭</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😓</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😪</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😴</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🙄</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤔</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤥</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😬</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤐</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤢</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤧</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">😷</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤝</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">👍</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">👎</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">👊</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">✊</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤛</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤜</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤞</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">✌️</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤘</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">👌</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">👈</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">👉</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">👆</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">👇</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">☝️</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">✋</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤚</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🖐</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🖖</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">👋</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🤙</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">💪</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">❤️</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">💛</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">💚</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">💙</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">💜</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">🖤</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">💔</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">❣️</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">💕</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">💞</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">💓</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">💗</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">💖</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">💘</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">💝</div>
	<div class="ui emoji button" style="background-color: rgba(0,0,0,0); padding: 2px; font-size: 1.4em;">💟</div>
</div>