{% load static %}
{% load dractags %}
{% load post_tags %}
	{% load comments_tags %}

{% if answer in user.answer_set.all %}
	<div class='myanswer-{{ answer.id }}'>
		<div class="ui segments"  id = 'answer-contents-{{ answer.id }}'> 
			<div class="ui segment" style="padding: 0px;">
				<div class="metadata">
	    			{% get_user_popup answer.author user %}&emsp;<i class="history icon"></i>{{ answer.timestamp | timesince}}&emsp;
	    			<a href = "{% url 'view_answer' answer.id %}">view full answer</a>
	    			<div class="ui right floated dropdown icon button" style="background-color: rgba(0,0,0,0); margin-right: 10px; margin-top: 4px;color: black;">
				    	<i class="chevron down icon"></i>
				    	<div class="menu">
				      		<div class="item" data-value="drop" >
				      			<a href="{% url 'update_answer' answer.id %}" style="color: black;" class='answer-edit' data='{{answer.id}}' >
								<i class="write icon"></i> Edit</a>
				      		</div>
				    		<div class="item" data-value="horizontal flip" >
				    			<a class="answer-delete" data = "{{ answer.id }}" style="color: black;" value = "delete">
				    	 		<i class="trash icon"></i> Delete answer</a>
							</div>
				    	</div>
				  	</div>
				</div>
			</div>
			<div class="ui segment">
				<h5 class="content-markdown" id="answer-{{ answer.id }}">{{ answer.content | safe_markdown }}</h5><br>
			</div>
			<div class="ui segment" style="background-color:#F5F5DC;">
			{% if answer in user.person.upvoted_answer.all %}
				<a class="answer" id="{{ answer.id }}" style="cursor: pointer;" data = "{{ answer.id }}" value = "vote"  ">
				    <i class="large blue chevron up icon" style="font-size: 2.7em;"></i>
				  	<div class="ui small basic blue left pointing label">
				    	{{ upvotes }}
				  	</div>
			  	</a>
			{% else %}
				<a class="answer" id="{{ answer.id }}" style="cursor: pointer;" data = "{{ answer.id }}" value = "vote"  ">
				    <i class="large blue chevron up icon" style="font-size: 2.7em;"></i>
				  	<div class="ui small basic grey left pointing label">
				    	{{ upvotes }}
				  	</div>
			  	</a>
			{% endif %}
				
			{% get_comments answer user %}  
			{% comment_form answer user %}
			</div>
		</div>
	</div>

{% else %}
	<div class='myanswer'>
		<div class="ui segments" id = 'answer-contents-{{ answer.id }}'>
			<div class="ui segment" style="padding: 0px;">
				<div class="metadata">
					{% get_user_popup answer.author user %}&emsp;<i class="history icon"></i>{{ answer.timestamp | timesince}}&emsp;
					<a href = "{% url 'view_answer' answer.id %}">view full answer</a>
				</div>
			</div>
			<div class="ui segment">
				<h5 class="content-markdown" id="answer-{{ answer.id }}">{{ answer.content| safe_markdown }}</h5>
			</div>
			<div class="ui segment" style="background-color:#F5F5DC;">
	 			{% if answer in user.person.upvoted_answer.all %}
				<a class="answer" id="{{ answer.id }}" style="cursor: pointer;" data = "{{ answer.id }}" value = "vote"  ">
				    <i class="large blue chevron up icon" style="font-size: 2.7em;"></i>
				  	<div class="ui small basic blue left pointing label">
				    	{{ upvotes }}
				  	</div>
			  	</a>
				{% else %}
				<a class="answer" id="{{ answer.id }}" style="cursor: pointer;" data = "{{ answer.id }}" value = "vote"  ">
				    <i class="large blue chevron up icon" style="font-size: 2.7em;"></i>
				  	<div class="ui small basic grey left pointing label">
				    	{{ upvotes }}
				  	</div>
			  	</a>
				{% endif %}
				
				{% get_comments answer user %}  
				{% comment_form answer user %}
			</div>
		</div>
	</div>
{% endif %}

<br>