{% load static %}
{% load dractags %}
{% load post_tags %}
	{% load comments_tags %}
	{% if post in user.post_set.all %}
	<div class='mypost-{{ post.id }}'>
		<div class="ui segments" id = 'post-contents-{{ post.id }}'> 

			{% if post.topic_follows.all.count > 0 %}	
			<div class="ui segment" style="padding: 3px;background-color: #F5F5DC;">
				{% for topic in post.topic_follows.all %}
					<a class="ui small tag label mylabel">{{ topic }}</a>
				{% endfor %}
			</div>
			{% endif %}

			<div class="ui segment" style="padding: 0px;">
				<div class="metadata">
	    			{% get_user_popup post.author user %}&emsp;<i class="history icon"></i>{{ post.timestamp | timesince}}

	    			<div class="ui right floated dropdown icon button" style="background-color: rgba(0,0,0,0);display: block;">
				    	<i class="chevron down icon"></i>
				    	<div class="menu">
				      		<div class="item" data-value="drop">
				      			<a href="{% url 'update_post' post.id %}" style="color: black;" class='post-edit' data='{{post.id}}' >
								<i class="write icon"></i> Edit</a>
				      		</div>
				      
				    		<div class="item" data-value="horizontal flip">
				    			<a class="post-delete" data = "{{ post.id }}" style="color: black;" value = "delete">
				    	 		<i class="trash icon"></i> Delete Post</a>
							</div>
				    	</div>
				  	</div>
				</div>
			</div>
			<div class="ui segment">
				<h2><a href="{% url 'view_post' post.id %}" style="color: black;">{{ post.title }}</a></h2>
				<div class="ui divider"></div>
				<h5 class="content-markdown" id="post-{{ post.id }}">{{ post.content | safe_markdown }}</h5><br>
			</div>
			<div class="ui segment" style="background-color:#F5F5DC;">
				{% if post in user.person.upvoted_post.all %}

				<a class="post" id="{{ post.id }}" style="cursor: pointer;" data = "{{ post.id }}" value = "vote"  ">
				    <i class="large blue chevron up icon" style="font-size: 2.7em;"></i>
				  	<div class="ui small basic blue left pointing label">
				    	{{ upvotes }}
				  	</div>
			  	</a>

				{% else %}

				<a class="post" id="{{ post.id }}" style="cursor: pointer;" data = "{{ post.id }}" value = "vote"  ">
			   		<i class="large grey outline chevron up icon" style="font-size: 2.7em; "></i>
			  		<div class="ui small basic grey left pointing label">
			     		{{ upvotes }}
			  		</div>
			  	</a>

				{% endif %}
			
				{% get_comments post user %}  
				
				{% comment_form post user %}
			</div>

		</div>
	</div>

	{% else %}

	<div class='mypost'>
		<div class="ui segments" id = 'post-contents-{{ post.id }}'>
			{% if post.topic.follows.all > 0 %}
			<div class="ui segment">
				{% for topic in post.topic_follows.all %}
					<a class="ui small tag label">{{ topic }}</a>
				{% endfor %}
			</div>
			{% endif %}
			<div class="ui segment" style="padding: 0px;">
				<div class="metadata">
					{% get_user_popup post.author user %}&emsp;<i class="history icon"></i>{{ post.timestamp | timesince}}
				</div>
			</div>

			<div class="ui segment">
				<h2 style=" display:inline;"><a href="{% url 'view_post' post.id %}" style="color: black;">{{ post.title }}</a></h2>
				<div class="ui divider"></div>
				<h5 class="content-markdown" id="post-{{ post.id }}">{{ post.content| safe_markdown }}</h5>
			</div>

			<div class="ui segment" style="background-color: #F5F5DC;">
			    {% if post in user.person.upvoted_post.all %}

				<a class="post" id="{{ post.id }}" style="cursor: pointer;" data = "{{ post.id }}" value = "vote"  ">
				    <i class="large blue chevron up icon" style="font-size: 2.7em;"></i>
				  	<div class="ui small basic blue left pointing label">
				    	{{ upvotes }}
				  	</div>
			  	</a>

				{% else %}

				<a class="post" id="{{ post.id }}" style="cursor: pointer;" data = "{{ post.id }}" value = "vote"  ">
			   		<i class="large grey outline chevron up icon" style="font-size: 2.7em;"></i>
			  		<div class="ui small basic grey left pointing label">
			     		{{ upvotes }}
			  		</div>
			  	</a>

				{% endif %}

				{% get_comments post user %}  
				{% comment_form post user %}
			</div>
		</div>
	</div>
{% endif %}
<br>