{% load static %}
{% load dractags %}

  {% load post_tags %}
	 {% load comments_tags %}


{% if quest in user.question_set.all %}
  <div class='myquestion-{{ quest.id }}'>
    <div class="ui segments" id = 'question-contents-{{ quest.id }}'> 
      {% if quest.topic_follows.all.count > 0 %}
        <div class="ui segment" style="padding: 3px;background-color: #F5F5DC;">
        {% for topic in quest.topic_follows.all %}
          <a class="ui small tag label mylabel">{{ topic }}</a>
        {% endfor %}
        </div>
      {% endif %}

      <div class="ui segment" style="padding: 0px;">
        <div class="metadata">
          {% get_user_popup quest.author user %}&emsp;<i class="history icon"></i>{{ quest.timestamp | timesince}}
          <div class="ui right floated dropdown icon button" style="background-color: rgba(0,0,0,0); margin-right: 10px; margin-top: 4px;">
            <i class="chevron down icon"></i>
            <div class="menu">
              <div class="item" data-value="drop">
                <a href="{% url 'update_question' quest.id %}" style="color: black;" class='question-edit' data='{{quest.id}}' >
                  <i class="write icon"></i> Edit</a>
              </div>
              <div class="item" data-value="horizontal flip">
                <a class="question-delete" data = "{{ quest.id }}" style="color: black;" value = "delete">
                  <i class="trash icon"></i> Delete question
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui segment">
        <center>
          <a href="{% url 'view_question' quest.id %}"><strong><h2 style="color: black;" class="content-markdown" id="quest-{{ quest.id }}">{{ quest.question }}</h2></strong><br></a>
          <p class="content-markdown" id="question-{{ quest.id }}">{{ quest.details| linebreaks }}</p>
        </center>
      </div>

      <div class="ui segment" style="background-color: #F5F5DC;">
        {% get_comments quest user %}  
        {% comment_form quest user %} 
      </div>
    </div>
  </div>
{% else %}
  <div class='myquestion'>
    <div class="ui segments" id = 'question-contents-{{ quest.id }}'>
      {% if quest.topic_follows.all.count > 0 %}
        <div class="ui segment" style="padding: 3px;background-color: #F5F5DC;">
        {% for topic in quest.topic_follows.all %}
          <a class="ui small tag label mylabel">{{ topic }}</a>
        {% endfor %}
        </div>
      {% endif %}

      <div class="ui segment" style="padding: 0px;">
        <div class="metadata">
          {% get_user_popup quest.author user %}&emsp;<i class="history icon"></i>{{ quest.timestamp | timesince}}
        </div>
      </div>

      <div class="ui segment">
        <center>
          <a href="{% url 'view_question' quest.id %}"><strong><h2 class="content-markdown" style="color: black;" id="quest-{{ quest.id }}">{{ quest.question }}</h2></strong></a><br>
          <p class="content-markdown" id="question-{{ quest.id }}">{{ quest.details| linebreaks }}</p>
        </center>
      </div>
    
      <div class="ui segment" style="background-color: #F5F5DC;">
        {% if not answered %}
        <a href="{% url 'create_answer' quest.id %}">
          <div class="ui small blue button">
            <i class="write icon"></i> Answer
          </div>
        </a>
        {% else %}
        <a href="{% url 'view_answer' myanswer.id %}">
          <div class="ui small grey button">
            <i class="book icon"></i>Your Answer
          </div>
        </a>
        {% endif %}

        {% get_comments quest user %}  
        {% comment_form quest user %}
      </div> 
    </div>
  </div>

{% endif %}

<br>
	