{% load static %}
{% load post_tags %}
<div class="ui comments" >
<div class="comments" style="margin-left: 10px; margin-top: 4px;">
  <div class="comment">
    <div class="content">

      {% if object.user %}
      	{% get_user_popup object.user user %}
		<div class="metadata">
	        <div class="date"> {{ object.timestamp | timesince }} ago.
		</div>
      </div> 
      {% if object.user.id == user.id or object.content_object.author.id == user.id %}
      <div class="ui right floated dropdown icon button" style="margin-right: 10px; margin-top: 4px;">
		    <i class="dropdown icon"></i>
		    <div class="menu">
		    {% if object.user %}
			{% if object.user.id == user.id %}
		      <div class="item" data-value="drop">

						<a class='comment-edit-class' data-id='{{ object.id }}'><i class="edit icon"></i> Edit</a>		
		      </div>
		      {% endif %}
				{% endif %}
				{% if object.user %}
					{% if object.user.id == user.id or object.content_object.author.id == user.id %}
		    		  <div class="item" data-value="horizontal flip">
		    		  <form class="comment-delete-form" method='DELETE' action="{% url "comment-delete" object.pk %}">
							<input value="{% csrf_token %}" id="csrf" hidden>
							{% csrf_token %}
							
							<a type="submit" value="Delete" class="comment-delete-btn" data-id="{{ object.id }}"><i class="trash icon"></i> Delete</a>
						</form>
						</div>
		      	{% endif %}
				{% endif %}
		    </div>
		  </div>
		  {% endif %}
      {% else %}
	By: Guest
	{% endif %}
	<blockquote>
      <div class="text">
        <h4 id='comment-{{ object.id }}'> {{ object.comment | linebreaks }} </h4>
 	<div id="comment-edit-{{ object.id }}" hidden>
	{% include "comments/comment_edit_form.html" with pk=object.id form=form %}
	</div>
      </div>

      <div class="actions">
      			
        	{% if allow_likes %}	
			{% if liked %}
				<div class="mini ui labeled button" tabindex="0">
				  <a class="like-comment-btn" id="like-btn-{{ object.id }}" data-like="liked" data-id="{{ object.id }}">
				  <div class="mini ui red button">
				    <i class="heart icon"></i> Unlike
				  </div>
				  </a>
				  <a class="mini ui basic red left pointing label">
				    <p id="likes-count-{{ object.id }}" >{{ object.likes_count }}</p>
				  </a>
				</div>
				</a>	
			{% else %}
				<div class="mini ui labeled button" tabindex="0">
				  <a class="like-comment-btn" id="like-btn-{{ object.id }}" data-like="like" data-id="{{ object.id }}">
				  <div class="mini ui basic red button">
				    <i class="heart icon"></i> Like
				  </div>
				  </a>
				  <a class="mini ui basic red left pointing label">
				    <p id="likes-count-{{ object.id }}" >{{ object.likes_count }}</p>
				    </a>
				</div>
			{% endif %}	
			{% endif %}
			<div class="ui teal buttons">
</div>
        	
        	
				
			
			<div class="ui divider"></div>
      </div>
      </blockquote>
    </div>
  </div>
  </div>
  </div>
<script type="text/javascript">
$('.ui.image.label')
  .popup({
    inline     : true,
    hoverable  : true,
    position   : 'bottom left',
    delay: {
      show: 300,
      hide: 500
    }
  })
;

	$('.dropdown')
  .dropdown({
    // you can use any ui transition
    transition: 'drop'
  })
;
</script>

