{% load static %}
{% load post_tags %}

<div class="comment" style="margin-left: 10px; margin-top: 4px;">
  <a class="avatar">
      {% if object.user.person.display_pic %}
      <img  src="{{object.user.person.display_pic.url}}" style="display: inline;"/>
      {% else %}
      <img  src= {% static 'img/dummy_user.png' %} style="display: inline;"/>
      {% endif %}
    </a>
    <div class="content">

      {% if object.user %}
      	<a class="author">{% get_user_tag object.user user %}</a>
		<div class="metadata">
	        <div class="date"> {{ object.timestamp | timesince }} ago.
		</div>
      </div>
      {% if object.user.id == user.id or object.content_object.author.id == user.id %}
      <div class="ui right floated dropdown icon mini button" style="background-color: rgba(0,0,0,0); margin-right: 10px; margin-top: 4px;">
		    <i class="chevron down icon"></i>
		    <div class="menu">
		    {% if object.user %}
			{% if object.user.id == user.id %}
		     <div class="item" data-value="drop">

				<a class='comment-edit-class' data-id='{{ object.id }}' style="color: black"><i class="edit icon"></i> Edit</a>
		     </div>
		      {% endif %}
				{% endif %}
				{% if object.user %}
					{% if object.user.id == user.id or object.content_object.author.id == user.id %}
		    		  <div class="item" data-value="horizontal flip">
		    		  <form class="comment-delete-form" method='DELETE' action="{% url "comment-delete" object.pk %}">
							<input value="{% csrf_token %}" id="csrf" hidden>
							{% csrf_token %}

							<a type="submit" value="Delete" class="comment-delete-btn" data-id="{{ object.id }}" style="color: black"><i class="trash icon"></i> Delete</a>
						</form>
						</div>
		      	{% endif %}
				{% endif %}
		    </div>
		  </div>
		  {% endif %}
      {% else %}
	By: Guest
	{% endif %}
      <div class="text">
        <h4 id='comment-{{ object.id }}'> {{ object.comment | linebreaks }} </h4>
 	<div id="comment-edit-{{ object.id }}" hidden>
	{% include "comments/comment_edit_form.html" with pk=object.id form=form %}
	</div>
      </div>

      <div class="actions">

        	{% if allow_likes %}
			{% if liked %}

				  <a class="like-comment-btn" id="like-btn-{{ object.id }}" data-like="liked" data-id="{{ object.id }}">

				    <div class='like liked'></div>

				  </a>
				  <a class="mini ui left pointing label">
				    <p id="likes-count-{{ object.id }}" >{{ object.likes_count }}</p>
				  </a>

			{% else %}

				  <a class="like-comment-btn" id="like-btn-{{ object.id }}" data-like="like" data-id="{{ object.id }}">

				    <div class='like'></div>
				  </a>
				  <a class="mini ui left pointing label">
				    <p id="likes-count-{{ object.id }}" >{{ object.likes_count }}</p>
				    </a>
			{% endif %}
			{% endif %}
			
      </div>

    </div>

  </div>
  <div class="ui divider"></div>
<script type="text/javascript">
$('.ui.image.label')
  .popup({
    inline     : true,
    hoverable  : true,
    position   : 'bottom left',
    delay: {
      show: 300,
      hide: 500
    }
  })
;

	$('.dropdown')
  .dropdown({
    // you can use any ui transition
    transition: 'drop'
  })
;
</script>
