
	<form action="{% url 'comment-update' object.id %}" method="post" class="edit-form" id="edit-form" data-id='{{ object.id }}'>
	{% csrf_token %}
			<P id="edit-form-errors"></P>
			<div class="small ui grey right action input">
			<input class="edit-comment" id='input-comment-{{ object.id }}' name='comment' value="{{ object.comment }}">
			<input id="id_user" name="user" value="{% if user.is_authenticated %}{{ user.id }}{% endif %}" hidden>
			{% include 'post/emoji.html' %}
			<button class="small ui grey button" type="submit" value="Submit"><i class="edit icon"></i></button>
		</div>
	</form>